body{
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
    
    
}

.home{
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    
}

.header{
    background-color: #2E2E2E;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

#logoHomePage{
    margin-left: auto;
    margin-right: auto;
    width: 30%;   
}

.bigLogo{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
}

h1{
    font-family: "Pirata One", system-ui;
    font-size: 3em;
    color: #E5E5E5;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

#Introduction{
    font-family: "Pirata One", system-ui;
    font-size: 2em;
    color: #BFBFBF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 20px;
    width: 90%;

}

.button{
    font-family: "Roboto", sans-serif;
    background-color: #C4975E;
    color: #1A1A1A;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 200px;
    padding: 10px;
    font-size: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.SignIn_SignOut{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

}



.connection_card{
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    background-color: #2E2E2E;
    color: #BFBFBF;
    width: 30%;
    height: 50%;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#form_connect{
    padding: 20px;
    
}

#login{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #C4975E;
}


 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  


  /*CHAPTER PAGE STYLE*/

  #chapter_story{
    color: #BFBFBF;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  #chapter_image{
    margin-left: auto;
    margin-right: auto;
  }

  #path_choice_title{
    font-family: "Pirata One", system-ui;
    color: #E5E5E5;
  }

  #path_choice_list{
    color: #BFBFBF;
    font-family: "Roboto", sans-serif;
    
  }

#path_choice_list li {
    color: #BFBFBF;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;   
    font-family: Arial, sans-serif; 
}

#path_choice_list a {
    color: #BFBFBF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;      
}

#path_choice_list a:hover {
    color: #C4975E;       
    text-decoration: underline;
}

#exit_adventure{
    font-family: "Roboto", sans-serif;
    background-color: #C4975E;
    color: #1A1A1A;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 200px;
    padding: 10px;
    text-decoration: none;
    margin-top: 50px;
    
}


  #chapter_content{
    margin-top: 30px;
    row-gap: 20px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}